<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/material-icons.css">
    <link rel="stylesheet" href="../static/assets/css/user.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#"><i class="material-icons">person</i> Random Actor</a>
                <button class="navbar-toggle collapsed hidden" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img src="{{ output[1] }}" class="device">

                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1 class="text-left">{{ output[0] }}</h1>
                    <p class="text-left">She/He is known for:</p>

					<div class="list-group">
					{% for message in output[2] %}
    <button class="list-group-item list-group-item-info"><span>{{message}}</span></button>
	  {% endfor %}
</div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
	<p>hola</p>
    <section class="testimonials">
        <h2 class="text-center">Made with <i class="fa fa-heart"></i> by @Sebastian. Number of actors: {{ output[3] }}</h2>
        <blockquote>
            <p>See more of my work on my GITHUB page, click this icon
                <i href="url" class="fa fa-github-alt"></i>
            </p>
            <footer class="hidden">Famous tech website</footer>
        </blockquote>
    </section>


    <script src="..static/assets/js/jquery.min.js"></script>
    <script src="..static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>